<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<h1>Welcome to my website!</h1>
		<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: 
			<a href="/students">All Students</a>, 
			<!-- by course 3 -->
			<a href="/students?course=3">Find Students by Course</a>, 
			<!-- by studentnum 5 -->
			<a href="/student/5">Find Students by StudentNum</a>, 
			<a href="/courses">All Courses</a>.
		</p>
		<h2>Introduction to HTML5</h2>
		<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</p>
		<!-- End your code here  -->
	</main>
</div>